@config "../tailwind.config.ts";
@import 'tailwindcss';

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
body {
  min-height: 100dvh;
}